- content_for(:title) do
  Declined Patients
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #declined-patients-header
      = form_tag declined_patients_url, method: 'get', id: 'search-declined-patients-form' do
        %h1
          Declined Patients
        .search-box
          %label{for: 'search' }
            Search
          = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
        .biospecimens_location
          %label{for: 'biospecimens_location' }
            Biospecimens Location
          = select_tag :biospecimens_location, options_for_select(['all'].concat(HealthPro::BIOSPECIMEN_LOCATIONS).map { |biospecimens_location| [biospecimens_location, biospecimens_location] }, (params[:biospecimens_location].blank? ? '' : params[:biospecimens_location]))
        .search-buttons
          %button{ type: 'submit', id: 'search-declined-patients-button', class: 'tiny button' }
            Search
          = link_to 'Clear', declined_patients_url()
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #declined-patients
      = render 'shared/flash'
      #declined-patients-list
        = will_paginate @declined_patients, renderer: FoundationPagination::Rails
        %table.hack_stack.hover
          %thead
            %tr
              %th.pmi_id
                = sortable 'pmi_id', 'PMI ID'
              %th.first_name
                = sortable 'first_name'
              %th.last_name
                = sortable 'last_name'
              %th.paired_orginization
                = sortable 'paired_orginization'
              %th.paired_site
                = sortable 'paired_orginization'
              %th.biospecimens_location
                = sortable 'biospecimens Location'
              %th.update-declined-patient
          %tbody
            - @declined_patients.each do |declined_patient|
              = content_tag_for(:tr, declined_patient) do
                %td.pmi_id
                  = declined_patient.pmi_id
                %td.first_name
                  = declined_patient.first_name
                %td.last_name
                  = declined_patient.last_name
                %td.paired_organization
                  = declined_patient.latest_paired_organization
                %td.paired_site
                  = declined_patient.latest_paired_site
                %td.biospecimens_location
                  = declined_patient.last_health_pro.biospecimens_location
                %td.update-declined-patient
                  = form_with model: declined_patient, url: declined_patient_url(declined_patient), method: :put, local: true, class: 'update-declined-patient' do |f|
                    = f.hidden_field :status, value: HealthPro::STATUS_MATCHABLE
                    = f.submit 'Undecline Patient', class: 'button', 'data-confirm': 'Undecline patient?'
        = will_paginate @declined_patients, renderer: FoundationPagination::Rails